h1 {
    background-color: #38a3a5;
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
    margin: 1px;
}
img {}
.card1, .card2 {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 5px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: left;

}
section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card1 h2, .card2 h2 {
    background: #2d7a3e;
    color: white;
    padding: 10px;
    margin: -20px -20px 10px -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card1 p, .card2 p {
    margin: 5px 0;
    font-size: 14px;
}
.card1 p strong, .card2 p strong {
    color: #333;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    margin-top: 20px;
    background-color: #22577a;
}

@media screen and (min-width: 1000px ) {
    h1 {
        background-color: #38a3a5;
        text-align: center;
        font-size: 3rem;
        padding: 3rem;
        margin: 1px;
    }

    section {
        display: block;
    }
    .card1, .card2 {
        background: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 300px;
        position: relative;
        text-align: left;
    }

    .card1 h2, .card2 h2 {
        background: #2d7a3e;
        color: white;
        padding: 10px;
        margin: -20px -20px 10px -20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .card1 p, .card2 p {
        margin: 5px 0;
        font-size: 14px;
    }
    .card1 p strong, .card2 p strong {
        color: #333;
    }
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
    }
    .card1 {
        left: 12%;
        top: 5%;
    }
    .card2 {
        left: 67%;
        top: 200px;
    }
    footer {
        text-align: center;
        font-size: 2rem;
        padding: 2rem;
        margin-top: 20px;
        background-color: #22577a;
        position: relative;
        margin-top: 236px;
    }
    
}
